* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* Element selectors ----------------- */

div {
  border: solid red 1px;
}

h1 {

}

h2 {

}

li {
  border: black solid 2px;
  border-radius: 5px
}

/* Class selectors ----------------- */

.container {
  display: flex;
  flex-direction: row;
}

/* ID selectors ----------------- */

#directory {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

#contentDisplay {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}

#mapDiv {
  flex-grow: 1;
}

#photoDiv {
  flex-grow: 1;
}

#descriptionDiv {
  flex-grow: 1;
}

/* Pseudo selectors ----------------- */


/* Media Queries ----------------- */
