body {
  box-sizing: border-box;
  /* background-color: #143969; */
}

/* Element selectors ----------------- */


h1,
h2 {
    color: #d6c571;
    text-align: center;
    margin: 50px 0px;

}



/* Class selectors ----------------- */


/* ID selectors ----------------- */
#contentDisplay {
  overflow: hidden;
  margin: auto;
}

#descriptionDiv{
    text-align: center;
    color:  	#f34236;
}


/* Pseudo selectors ----------------- */


/* Media Queries ----------------- */
