body {
  box-sizing: border-box;
  background-color: white;
  font-family: 'Dosis', sans-serif;
}

/* Element selectors ----------------- */


h1 {
  font-size: 3em;
  color: #c37f7c;
  float: left;
  padding: 16px;
}

img {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

div {
  border: 1px solid #f0e2ae;
}

/* Class selectors ----------------- */

.title-image {
  height: 500px;
  position: relative; /* for placing text over image header */
  text-align: center;
}

.teaser {
  text-align: center;
  font-size: 1em;
}

.event {
  color: 	#c37f7c;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1em;
}

/* ID selectors ----------------- */


#contentDisplay {
  flex-grow: 2;
  flex-direction: column;
  overflow: hidden;
  margin: auto;
  color: #c37f7c;
}

#descriptionDiv {
    text-align: center;
    color:  	#f34236;
    padding: 25px;
}

#directory {
  flex-grow: 1;
}

#photoDiv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Pseudo selectors ----------------- */


/* Media Queries ----------------- */
@media(min-width: 450px) {
  h1 {
    font-size: 4em;
    color: #c37f7c;
    position: absolute; /* positions text over image */
    top: 8px;
    left: 16px;
  }
}
