/* Element selectors ----------------- */

html {
  box-sizing: border-box;
}

div {
  border: solid red 1px;
}

h1 {

}

h2 {

}

/* Class selectors ----------------- */

.container {
  display: flex;
}

/* ID selectors ----------------- */

#directory {

}

#mapdiv {

}

#photoarea {

}

#description {

}

/* Pseudo selectors ----------------- */


/* Media Queries ----------------- */
